html, body { margin: 0; padding: 0; height: 100%;
 }
 html, body a{ 
    text-decoration: none; color: black;
    text-decoration: none;
    text-decoration: none; 
     text-decoration: none; 
  text-decoration: none; 
 }
table caption{
    text-align: left;
}
div {
    text-align: center;
}
.search {
    padding-right: 15px;
    padding-top: 15px;
    float :right;
}
header{
    width: 100%; height: 20%;
        background: rgb(182, 182, 167); 
}
header h3 {
    font-size: 40px;
    text-align: center;
}
nav {
    border-top-width : 1px; 
    border-top-color : rgb(14, 11, 11); 
    border-top-style : solid; 
    border-bottom-width : 1px; 
    border-bottom-color : rgb(14, 11, 11); 
    border-bottom-style : solid; 
}
nav li {
    display: inline-block;
    padding-left : 10%;
    padding-right: 10%;
    white-space:nowrap; 
    
    
}
nav li a {
    text-decoration:none;
}
div div {
    display: inline-block;
}
footer {
    width: 100%; height: 15%; clear: both;
   
}
footer div {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right:10px;
    padding-bottom: 10px;
   background-color: rgb(250, 250, 250)
;}
footer table{
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    padding-left: 10px;
    padding-bottom: 40px;
    margin-bottom: 60px;
}